*{
    box-sizing: border-box;
    /* margin: 0; */
    padding: 0;
    font-family: 'Roboto', sans-serif;;
}
body{
    background-color: rgb(24, 20, 20);
}
.section-1{
    background-image: url("img/pics/rajasthani.jpg");
    background-size: cover;
    height: 600px;
    color: white;
}

/* navbar */
.dropdown-item{
    color: white;
}

