*{
    box-sizing: border-box;
    /* margin: 0; */
    padding: 0;
    font-family: 'Roboto', sans-serif;;
}
body{
    background-color: rgb(24, 20, 20);
}
section{
    background-image: url("");
}

/* navbar */
.dropdown-item{
    color: white;
}

